body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.grid, .sub-grid {
  display: flex;
  flex-wrap: wrap;


}



.cell, .sub-grid .cell {
  flex: 1 0 25%;
  border: 1px solid black;
  min-height: 50px;  
  box-sizing: border-box;

}

@media (max-width: 960px) {
  .grid .cell, .sub-grid .cell {
      flex: 1 0 50%;
  }
}


@media (max-width: 640px) {
  .grid .cell, .sub-grid .cell {
      flex: 1 0 100%;
  }
}
