body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4; 
}

#timer {
    text-align: center;
}

#time-display {
    font-size: 4rem;
    margin-bottom: 20px;
    color: red;
}


#time-input input {
    width: 84px;
    padding: 10px;
    margin: 0 5px;
    text-align: center;
    font-size: 2em;
    border-radius: 11px;
}

#startButton {
    padding: 10px 20px;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 8px;
}
